<div class="row">
    <div class="col-lg-4">
        <rd-widget ng-if="disable">
            <form name="dailyForm" novalidate>
                <rd-widget-header icon="icon-note" title="דוח נוכחות">
                    <button ng-click="save(dailyForm.$valid)" ng-class="{'disabled': dailyForm.$invalid}" class="btn btn-sm btn-info">שמור</button>
                    <button ng-click="close()" class="btn btn-sm btn-warning">בטל</button>
                </rd-widget-header>
                <rd-widget-body classes="xxlarge no-padding">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">תאריך עדכון:</label>
                        <div class="col-md-8">
                            <input type="text" ng-value="date.toLocaleDateString()" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input" ng-class="{ 'has-error': (formErrors || dailyForm.$dirty) && dailyForm.$invalid }">
                        <label class="col-md-4 control-label">לומדים נוספים:</label>
                        <div class="col-md-8">
                            <input type="number" ng-model="tempStudents.amount" ng-value="tempStudents.amount" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input" ng-if="isOneTimeAllow">
                        <label class="col-md-4 control-label">סמן כולם כ:</label>
                        <div class="col-md-8">
                            <div class="btn-group btn-group-justified">
                                <span class="btn btn-sm btn-default" ng-click="changeAll(0)">
                                    <i class="fa fa-check-square"></i> נוכח
                                </span>
                                <span class="btn btn-sm btn-default" ng-click="changeAll(-1)">
                                    <i class="fa fa-times"></i> חסר
                                </span>
                                <span class="btn btn-sm btn-default" ng-click="changeAll(-2)">
                                    <i class="fa fa-thumbs-o-up"></i> ח.מ.
                                </span>
                                <span class="btn btn-sm btn-default" ng-click="changeAll(-3)">
                                    <i class="fa fa-black-tie"></i> חג
                                </span>
                            </div>
                            <!--<div class="col-md-8">
                            <select ng-model="changeAllValue" ng-change="changeAll(changeAllValue)" class="form-control">
                                <option value="null">בחר אפשרות</option>
                                <option ng-repeat="(key, date) in dropList.options" value="{{ date.value }}">{{date.name}}</option>
                            </select>-->
                        </div>
                    </div>
                    <student-list students="students" drop-list="dropList"></student-list>
                </rd-widget-body>
            </form>
        </rd-widget>
    </div>

    <div ng-if="!isOnlyDaily" ng-class="{'col-lg-12':!disable, 'col-md-8':disable}">
        <rd-widget>
            <rd-widget-header icon="icon-people" title="בחר תאריך על מנת לצפות ברשימת התלמידים">
                <select ng-if="prevDates" style="margin-bottom: 0px; width: 120px" ng-model="currentMonth" ng-change="changeMonth(currentMonth)"
                    class="form-control pull-left">
                    <option value="" disabled>החלף חודש</option>
                    <option ng-repeat="date in prevDates" value="{{ date }}">{{date.month}}/{{date.year}}</option>
                </select>
            </rd-widget-header>
            <rd-widget-body classes="xxlarge no-padding">
                <my-calendar view-date="viewDate" status="status" show="show(date)"></my-calendar>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>