<div class="row">
    <div class="col-lg-4">
        <rd-widget ng-if="disable">
            <form name="dailyForm" novalidate>
                <rd-widget-header icon="icon-note" title="דוח נוכחות">
                    <span class="action action-ok" ng-click="save(dailyForm.$valid)" ng-class="{'disabled': dailyForm.$invalid}" ></span>
                    <span class="action action-error" ng-click="close()"></span>   
                </rd-widget-header>
                <rd-widget-body classes="xlarge no-padding">
                    <student-list students="students" drop-list="dropList"></student-list>
                    <details>
                        <summary>הוסף אברכים חד פעמיים</summary>
                        <table class="table">
			                <thead>
                                <td>תיאור</td>
                                <td>כמות</td>
                            </thead>
                            <tbody>
                                <td>אברכים חד פעמיים</td>
                                <td><input type="number" ng-model="tempStudents" class="form-control"></td>
                            </tbody>
                        </table>
                    </details>
                </rd-widget-body>
            </form>
        </rd-widget>
    </div>

    <div ng-class="{'col-lg-12':!disable, 'col-md-8':disable}">
        <rd-widget>
            <rd-widget-header icon="icon-people" title="בחר תאריך על מנת לצפות ברשימת התלמידים">
            </rd-widget-header>
            <rd-widget-body classes="xlarge no-padding">
                <my-calendar view-date="viewDate" show="show(date)"></my-calendar>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>