<div class="row">
    <div class="col-lg-4">
        <rd-widget ng-if="display">
            <form name="recomendForm" novalidate>
                <rd-widget-header icon="icon-note" title="פרטי הבקשה">
                    <button ng-click="save(recomendForm.$valid)" ng-class="{'disabled': recomendForm.$invalid}"
                        class="btn btn-sm btn-info pull-left">שמור</button>
                    <button ng-click="close()" class="btn btn-sm btn-warning pull-right">בטל</button>
                </rd-widget-header>
                <rd-widget-body classes="xlarge no-padding">
                    <div class="form-group form-md-line-input" ng-class="{ 'has-error': (formErrors || recomendForm.name.$dirty) && recomendForm.name.$invalid }">
                        <label class="col-md-4 control-label">כולל מבקש</label>
                        <div class="col-md-8">
                            <input name="UserID" type="text" ng-model="recomends.name" class="form-control" ng-minlength="3"
                                required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input" ng-class="{ 'has-error': (formErrors || recomendForm.type.$dirty) && recomendForm.type.$invalid }">
                        <label class="col-md-4 control-label">סוג בקשה</label>
                        <div class="col-md-8">
                            <input name="Type" type="text" ng-model="recomends.type" class="form-control" ng-minlength="3"
                                required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input" ng-class="{ 'has-error': (formErrors || recomendForm.requested_date.$dirty) && recomendForm.requested_date.$invalid }">
                        <label class="col-md-4 control-label">תאריך בקשה</label>
                        <div class="col-md-8">
                            <input name="RequestedDate" type="text" ng-model="recomends.requested_date" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input" ng-class="{ 'has-error': (formErrors || recomendForm.approved_date.$dirty) && recomendForm.approved_date.$invalid }">
                        <label class="col-md-4 control-label">סטטוס</label>
                        <div class="col-md-8">
                            <input name="ApprovedDate" type="text" ng-model="recomends.approved_date" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input" ng-class="{ 'has-error': (formErrors || recomendForm.req_type.$dirty) && recomendForm.req_type.$invalid }">
                        <label class="col-md-4 control-label">סוג הבקשה</label>
                        <div class="col-md-8">
                            <input name="TableName" type="text" ng-model="recomends.req_type" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input" ng-class="{ 'has-error': (formErrors || recomendForm.data.$dirty) && recomendForm.data.$invalid }">
                        <label class="col-md-4 control-label">תוכן הבקשה</label>
                        <div class="col-md-8">
                            <input name="data" type="text" ng-model="recomends.data" class="form-control" required>
                        </div>
                    </div>
                </rd-widget-body>
            </form>
        </rd-widget>
    </div>

    <div ng-class="{'col-lg-12':!display, 'col-md-8':display}">
        <rd-widget>
            <rd-widget-header icon="icon-notebook" title="רשימת המלצות">
                <!--<button ng-click="add()" class="btn btn-sm btn-info pull-left">הוסף אברך</button>-->
            </rd-widget-header>
            <rd-widget-body classes="xlarge no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <td width="10%">שם הכולל</td>
                            <td width="10%">פעולה</td>
                            <td width="10%">סוג הבקשה</td>
                            <td width="15%">תאריך בקשה</td>
                            <td width="10%">סטטוס</td>
                            <td width="15%">תאריך אישור</td>
                            <td width="25%">פרטי הבקשה</td>
                            <td width="5%" ng-if="role === 'Admin'">פעולות</td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="recomend in recomends track by $index" ng-class="{'archive': recomend.status !== 'ממתין...'}">
                                <td>{{ recomend.name }}</td>
                                <td>{{ recomend.type }}</td>
                                <td>{{ recomend.req_type }}</td>
                                <td>{{ recomend.requested_date | date:"MM/dd/yyyy',' h:mma" }}</td>
                                <td>{{ recomend.status }}</td>
                                <td>{{ recomend.approved_date | date:"MM/dd/yyyy',' h:mma" }}</td>
                                <td>
                                    <details>
                                        <summary>{{ recomend.data.first_name + ' ' + recomend.data.last_name }} {{ recomend.data.manager_name }}
                                        </summary>
                                        <p ng-repeat="(key, value) in recomend.data.newObj | inputfilter track by $index">
                                            <label class="col-lg-4 control-label">{{ $root.t[key] || key }}:</label>
                                            <input type="text" ng-model="recomend.data.newObj[key]" ng-class="{'error' : (whatChange(key, recomends.indexOf(recomend)) && recomend.data.oldObj)}" class="col-lg-7 form-control">
                                        </p>
                                    </details>
                                </td>
                                <td ng-if="role === 'Admin'">
                                    <div ng-if="recomend.status === 'ממתין...'">
                                        <span class="action action-ok" ng-click="action($index, 'approve')"></span>
                                        <span class="action action-error" ng-click="action($index, 'deny')"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>