<div class="row">
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header icon="fa-calculator" title="הגדרות חישוב">
                <button ng-click="save('settings', definitions)" class="btn btn-sm btn-info">שמור</button>
            </rd-widget-header>
            <rd-widget-body classes="large no-padding">
                <div class="table-responsive">
                    <table class="table" style="margin-bottom:0;">
                        <thead>
                            <td>שם הגדרה</td>
                            <td>ערך בשקלים</td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="def in definitions track by f(def)">
                                <tr>
                                <td>
                                    <label class="control-label" style="margin-bottom:0;">סוג הקבוצה</label>
                                </td>
                                <td>
                                    <input type="text" ng-model="def.group_type" class="form-control" style="margin-bottom: 0">
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    <label class="control-label" style="margin-bottom:0;">שווי איחור לכל X דקות</label>
                                </td>
                                <td>
                                    <input type="number" ng-model="def.late" class="form-control" style="margin-bottom: 0">
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    <label class="control-label" style="margin-bottom:0;">X דקות</label>
                                </td>
                                <td>
                                    <input type="number" ng-model="def.per_late" class="form-control" style="margin-bottom: 0">
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    <label class="control-label" style="margin-bottom:0;">נוכחות מינימלית</label>
                                </td>
                                <td>
                                    <input type="number" ng-model="def.min_presence" class="form-control" style="margin-bottom: 0">
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    <label class="control-label" style="margin-bottom:0;">שווי חיסור יומי</label>
                                </td>
                                <td>
                                    <input type="number" ng-model="def.missed" class="form-control" style="margin-bottom: 0">
                                </td>
                                </tr>
                                <tr>
                                <td>
                                    <label class="control-label" style="margin-bottom:0;">גובה מלגה חודשית</label>
                                </td>
                                <td>
                                    <input type="number" ng-model="def.monthly_payment" class="form-control" style="margin-bottom: 0">
                                </td>
                                </tr>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
        <br/>
        <rd-widget>
            <rd-widget-header icon="icon-layers" title="הגדרות מבחנים">
                <button ng-click="save('test_types', test_types)" class="btn btn-sm btn-info pull-left">שמור</button>
            </rd-widget-header>
            <rd-widget-body classes="small no-padding">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <td>שם מבחן</td>
                            <td>ציון עובר</td>
                            <td>ערך בשקלים</td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="test in test_types">
                                <td>
                                    <label class="control-label" style="margin-bottom:0;">{{test.name}}</label>
                                </td>
                                <td>
                                    <input name="name" type="number" ng-model="test.min_score" class="form-control" style="margin-bottom:0;">
                                </td>
                                <td>
                                    <input name="name" type="number" ng-model="test.value" class="form-control" style="margin-bottom:0;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>
    <div class="col-lg-6">
        <rd-widget>
            <rd-widget-header icon="icon-note" title="הנפק דוח"></rd-widget-header>
            <rd-widget-body classes="full no-padding">
                <div class="row reportHeader">
                    <div class="col-md-2">
                        <label class="control-label">דוח כולל</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="currColel"
                                class="form-control"
                                ng-change="changeColel(currColel)" 
                                ng-options="colel as colel.name for colel in colelList"
                                style="margin-bottom:0;">
                            <option value="">בחר דוח</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="currentMonth" ng-change="changeMonth(currentMonth)" class="form-control" style="margin-bottom:0;">
                            <option value="">בחר חודש</option>
                            <option ng-repeat="date in dates" value="{{ date.month + '-' + date.year }}">{{ date.month + '-' + date.year }}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success" ng-click="newReport({id: 1})">
                            <i class="fa fa-file-excel-o"></i>
                        </a>
                    </div>
                </div>
                <div class="row reportHeader">
                    <div class="col-md-2">
                        <label class="control-label">עוד דוחות</label>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="currentType"
                                ng-change="changeType(currentType)"
                                class="form-control" 
                                ng-options="type as type.name for type in reportTypes  | filter: {id : '!1'}"
                                style="margin-bottom:0;">
                            <option value="">בחר דוח</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <select ng-model="currentMonth" ng-change="changeMonth(currentMonth)" class="form-control" style="margin-bottom:0;">
                            <option value="">בחר חודש</option>
                            <option ng-repeat="date in dates" value="{{ date.month + '-' + date.year }}">{{ date.month + '-' + date.year }}</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success" ng-click="newReport(currentType)">
                            <i class="fa fa-file-excel-o"></i>
                        </a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-condensed" style="margin-bottom:0;">
                        <thead>
                            <td colspan="3" class="widget-header">
                                <span class="pull-right">
                                    <i class="fa fa-history"></i> היסטוריית דוחות
                                </span>
                                <span class="pull-left">
                                    <button ng-click="refresh()" ng-disabled="refreshing" class="btn btn-xs btn-info">
                                        <span class="fa fa-refresh"></span>
                                </button>
                                </span>
                            </td>
                        </thead>
                        <tbody>
                            <tr ng-repeat="report in reports">
                                <td>{{ report.report }} {{ report.colel ? 'עבור כולל ' + report.colel : '' }} נוצר לחודש {{ report.date_created
                                    }}.
                                    <a class="btn btn-link" ng-href="{{ report.url }}" ng-if="report.url">להורדה</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>