<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    </div>
</div>
<div class="row">
    <form name="settingsForm" novalidate>
        <div class="col-lg-6">
            <rd-widget>
                <rd-widget-header icon="icon-clock" title="שעות פעילות הכולל">
                </rd-widget-header>
                <rd-widget-body classes="large no-padding">
                    <div class="form-group form-md-line-input" ng-class="{ 'has-error': (formErrors || settingsForm.accountName.$dirty) && settingsForm.accountName.$invalid }">
                        <label class="col-md-4 control-label"></label>
                        <label class="col-md-4 control-label">שעת התחלה</label>
                        <label class="col-md-4 control-label">שעת סיום</label>
                    </div>
                    <hr>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">יום ראשון</label>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.start_1.$dirty) && settingsForm.start_1.$invalid }">
                            <input required type="text" ui-mask-placeholder ui-mask-placeholder-char="_" class="form-control spacing"
                                ui-mask="**:**" ng-model="data.start[1]" name="start_1">
                        </div>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.end_1.$dirty) && settingsForm.end_1.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                type="text" name="end_1" ng-model="data.end[1]" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">יום שני</label>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.start_2.$dirty) && settingsForm.start_2.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="start_2" type="text" ng-model="data.start[2]" required>
                        </div>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.end_2.$dirty) && settingsForm.end_2.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="end_2" type="text" ng-model="data.end[2]" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">יום שלישי</label>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.start_3.$dirty) && settingsForm.start_3.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="start_3" type="text" ng-model="data.start[3]" required>
                        </div>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.end_3.$dirty) && settingsForm.end_3.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="end_3" type="text" ng-model="data.end[3]" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">יום רביעי</label>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.start_4.$dirty) && settingsForm.start_4.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="start_4" type="text" ng-model="data.start[4]" required>
                        </div>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.end_4.$dirty) && settingsForm.end_4.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="end_4" type="text" ng-model="data.end[4]" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">יום חמישי</label>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.start_5.$dirty) && settingsForm.start_5.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="start_5" type="text" ng-model="data.start[5]" required>
                        </div>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.end_5.$dirty) && settingsForm.end_5.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="end_5" type="text" ng-model="data.end[5]" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">יום שישי</label>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.start_6.$dirty) && settingsForm.start_6.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="start_6" type="text" ng-model="data.start[6]" required>
                        </div>
                        <div class="col-md-4" ng-class="{ 'has-error': (formErrors || settingsForm.end_6.$dirty) && settingsForm.end_6.$invalid }">
                            <input ui-mask-placeholder ui-mask-placeholder-char="_" ui-mask="**:**" class="form-control spacing"
                                name="end_6" type="text" ng-model="data.end[6]" required>
                        </div>
                    </div>
                </rd-widget-body>
            </rd-widget>
        </div>
        <div class="col-lg-6">
            <rd-widget>
                <rd-widget-header icon="icon-directions" title="כתובת הכולל">
                </rd-widget-header>
                <rd-widget-body classes="large no-padding">
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">שם בית הכנסת</label>
                        <div class="col-md-8" ng-class="{ 'has-error': (formErrors || settingsForm.shulName.$dirty) && settingsForm.shulName.$invalid }">
                            <input class="form-control" name="shulName" type="text" ng-model="data.shulName" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">רחוב</label>
                        <div class="col-md-8" ng-class="{ 'has-error': (formErrors || settingsForm.street.$dirty) && settingsForm.street.$invalid }">
                            <input class="form-control" name="street" type="text" ng-model="data.street" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">מספר</label>
                        <div class="col-md-8" ng-class="{ 'has-error': (formErrors || settingsForm.number.$dirty) && settingsForm.number.$invalid }">
                            <input class="form-control" name="number" type="text" ng-model="data.number" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">עיר</label>
                        <div class="col-md-8" ng-class="{ 'has-error': (formErrors || settingsForm.city.$dirty) && settingsForm.city.$invalid }">
                            <input class="form-control" name="city" type="text" ng-model="data.city" required>
                        </div>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="col-md-4 control-label">הערות</label>
                        <div class="col-md-8" ng-class="{ 'has-error': (formErrors || settingsForm.comments.$dirty) && settingsForm.comments.$invalid }">
                            ​
                            <textarea class="form-control" name="comments" rows="4" ng-model="data.comments" required></textarea>
                        </div>
                    </div>
                </rd-widget-body>
            </rd-widget>
            <div style="margin:15px; font-size: 25px;">
                <input class="col-md-1 form-control" type="checkbox" ng-model="agree">
                <label class="control-label">אני מאשר שהנתונים האלו נכונים</label>
                <button ng-click="submitData()" class="btn btn-sm btn-info pull-left">המשך</button>
            </div>
        </div>
    </form>
</div>