<div class="row">
    <div class="col-lg-3">
        <rd-widget>
            <form name="dailyForm" novalidate>
                <rd-widget-header icon="icon-graph" title="פרטי הסיכום">
                    <button ng-click="show()" class="btn btn-sm btn-info">הצג</button>
                </rd-widget-header>
                <rd-widget-body classes="xxlarge no-padding">
                    <style>
                        .settings-row {
                            /* display: flex;
                            flex-direction: row; */
                            /* justify-content: space-evenly; */
                        }

                        .settings-row>div {
                            /* display: flex; */
                        }
                    </style>
                    <div class="settings-row form-group form-md-line-input">
                        <div>
                            <label>בחר סוג סיכום:</label>
                            <select ng-model="staticsType" class="form-control">
                                <option value="1">אישי</option>
                                <option value="2">כללי</option>
                            </select>
                        </div>
                    </div>
                    <div class="settings-row form-group form-md-line-input">
                        <div>
                            <label>בחר תחום סיכום:</label>
                            <select ng-model="sortType" class="form-control">
                                <option value="1">שעות לימוד</option>
                                <option value="2">מאמרים בעל-פה</option>
                                <option value="3">אברכים לא קבועים</option>
                            </select>
                        </div>
                    </div>
                    <div class="settings-row form-group form-md-line-input">
                        <div>
                            <label>בחר סוג טווח:</label>
                            <select ng-model="dateType" ng-change="changeStaticsType(sortType, staticsType)" class="form-control">
                                <option value="1">יומי</option>
                                <option value="2">חודשי</option>
                                <option value="3">שנתי</option>
                            </select>
                        </div>
                    </div>
                    <div class="settings-row form-group form-md-line-input">
                        <div>
                            <label>בחר כמות:</label>
                            <input type="number" ng-model="amountOfHistory" class="form-control" />

                        </div>
                    </div>
                </rd-widget-body>
            </form>
        </rd-widget>
    </div>

    <div class="col-md-9">
        <rd-widget>
            <rd-widget-header icon="icon-people" title="סיכומים">

            </rd-widget-header>
            <rd-widget-body classes="xxlarge no-padding">
                <div id="chartContainer" style="height: 500px; width: 100%;"></div>
            </rd-widget-body>
        </rd-widget>
    </div>
</div>